@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

label.fi-fo-field-label>span.fi-fo-field-label-content {
    @apply text-xs;
}
